<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>VAMS Checklist</title>
  <link rel="icon" href="https://afiqrostam.github.io/vams-checklist/icon.png" size="64x64" type="image/png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body class="bg-light">
  <div class="hstack gap-2 vh-100 vw-100">
    <div id="login" class="m-auto">
      <form v-if="new_login" class="card-body p-2">
        <div class="vstack gap-1 mb-5">
          <img src="https://afiqrostam.github.io/vams-checklist/icon.png" class="m-auto mb-5 veolia-logo">
        </div>
        <div class="my-3">
          <input type="email" class="form-control text-center mw-300px" v-model="email" name="userid" id="email">
          <div id="emailHelp" class="text-center form-text">Enter your VAMS login to begin</div>
        </div>
        <div class="hstack mt-2"><button type="button" @click="update" class="m-auto btn btn-primary">login</button>
        </div>
      </form>
      <div v-else class="card-body p-2">
        <div v-if="loading" class="spinner-grow">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div v-else>
          <div class="my-3">
            <p type="email" class="text-center">{{email}}</p>
            <div id="emailHelp" class="text-center form-text">Enter your VAMS login to begin</div>
          </div>
          <div class="hstack mt-2"><button type="button" @click="update" class="m-auto btn btn-primary">login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3.2.31/dist/vue.global.prod.js"></script>
  <script>
    var login_ = {
      data() {
        return {
          email: '',
          new_login: true,
          loading: true
        }
      },
      watch: {
        userid: {
          handler(newValue, oldValue) {
            this.email = newValue.toUpperCase();
          },
          deep: true
        }
      },
      methods: {
        addUserId(input) {
          this.email = input.toUpperCase();
          return this
        },
        addNewLogin(input) {
          this.new_login = input;
          return this
        },
        update() {
          var url = document.location.href
          var queryParam = this.email;
          document.location.replace(url + '?email=' + queryParam)
        },
      }
    }

    function updateUrl(url, param) {
      var param_keys = Object.keys(param);
      if (param_keys.length != 0) {
        param_keys.forEach(function (e, i) {
          if (i == 0) { url = url + "?" + e } else { url = url + "&" + e }
          if (param[e] != '') { url = url + "=" + param[e] }
        });
      }
      console.log(url)
      return url
    }

    function getAllUrlParams(url) {
      // get query string from url (optional) or window
      var queryString = url ? url.split("?")[1] : window.location.search.slice(1);
      // we'll store the parameters here
      var obj = {};
      // if query string exists
      if (queryString) {
        // stuff after # is not part of query string, so get rid of it
        queryString = queryString.split("#")[0];
        // split our query string into its component parts
        var arr = queryString.split("&");
        for (var i = 0; i < arr.length; i++) {
          // separate the keys and the values
          var a = arr[i].split("=");
          // set parameter name and value (use 'true' if empty)
          var paramName = a[0];
          var paramValue = typeof a[1] === "undefined" ? '' : a[1];
          // if the paramName ends with square brackets, e.g. colors[] or colors[2]
          if (paramName.match(/\[(\d+)?\]$/)) {
            // create key if it doesn't exist
            var key = paramName.replace(/\[(\d+)?\]/, "");
            if (!obj[key]) obj[key] = [];
            // if it's an indexed array e.g. colors[2]
            if (paramName.match(/\[\d+\]$/)) {
              // get the index value and add the entry at the appropriate position
              var index = /\[(\d+)\]/.exec(paramName)[1];
              obj[key][index] = paramValue;
            } else {
              // otherwise add the value to the end of the array
              obj[key].push(paramValue);
            }
          } else {
            // we're dealing with a string
            if (!obj[paramName]) {
              // if it doesn't exist, create property
              obj[paramName] = paramValue;
            } else if (obj[paramName] && typeof obj[paramName] === "string") {
              // if property does exist and it's a string, convert it to an array
              obj[paramName] = [obj[paramName]];
              obj[paramName].push(paramValue);
            } else {
              // otherwise add the property
              obj[paramName].push(paramValue);
            }
          }
        }
      }
      return obj;
    }

    var param;
    var gas = 'https://script.google.com/macros/s/AKfycbyxS-QxsOYTVyJXUh1R7i38sjxk1R4L8uMqfU5S2Yfc-u6HkTV_u1R7ZuWeIPcR7DvvgQ/exec';
    var login = Vue.createApp(login_).mount('#login');

    (function () {
      param = getAllUrlParams();
      if (param.email !== null) {
        login.addNewLogin(false).addUserId(param.email)
      }

      var fetch_status = new Request(updateUrl(gas, param), {
        redirect: "follow",
        method: 'POST',
        headers: {
          "Content-Type": "text/plain;charset=utf-8",
        },
      });
      fetch(fetch_status)
        .then(function (response) {
          return response.json();
        })
        .then(function (data) {
          console.log(data.text)
        });
    })();
  </script>
</body>

</html>