<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>VAMS Checklist</title>
  <link rel="icon" href="https://afiqrostam.github.io/vams-checklist/icon.png" size="64x64" type="image/png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body class="bg-light">
  <div class="hstack gap-2 vh-100 vw-100">
    <div id="login" class="m-auto card">
      <form v-if="new_login" class="card-body">
        <div class="hstack p-5">
          <p class="m-auto display-1"><i class="bi bi-terminal-x"></i></p>
        </div>
        <div class="mb-3">
          <input type="email" v-model="userid" class="form-control" name="userid" id="email">
        </div>
        <div class="hstack mt-2">
          <button type="button" @click="update" class="m-auto btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3.2.31/dist/vue.global.prod.js"></script>
  <script>
    var params;
    var login_ = {
      data() {
        return {
          userid: '',
          new_login: true
        }
      }, 
      watch: {
        userid: {
          handler(newValue, oldValue) {
            this.userid = newValue.toUpperCase();
          },
          deep: true
        }
      },
      methods: {
        addUserId(input) {
          this.userid = input.toUpperCase();
          return this
        },
        addNewLogin(input) {
          this.new_login = input;
          return this
        },
        update() {
          var url = document.location.href
          var queryParam = this.userid;
          document.location.replace(url+'?userid='+queryParam)
        },
      }
    }

    var login = Vue.createApp(login_).mount('#login');

    (function () {
      params = new URL(document.location).searchParams;
      if (params.get('userid') !== null) {
        login.addNewLogin(false).addUserId(params.get('userid'))
      }
    })();
  </script>
</body>

</html>